@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: #ffffff;
  --foreground: #111827;
  --card: #ffffff;
  --card-foreground: #111827;
  --popover: #ffffff;
  --popover-foreground: #111827;
  --primary: #111827;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #111827;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --accent: #e5e7eb;
  --accent-foreground: #111827;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #d1d5db;
  --input: #d1d5db;
  --ring: #9ca3af;
  --radius: 0.625rem;
}

.dark {
  --background: oklch(0.2 0.024 288.87);
  --foreground: oklch(0.96 0.015 286.02);
  --card: oklch(0.252 0.026 289.92);
  --card-foreground: oklch(0.96 0.015 286.02);
  --popover: oklch(0.252 0.026 289.92);
  --popover-foreground: oklch(0.96 0.015 286.02);
  --primary: oklch(0.78 0.17 303.91);
  --primary-foreground: oklch(0.246 0.029 291.61);
  --secondary: oklch(0.31 0.03 289.6);
  --secondary-foreground: oklch(0.96 0.015 286.02);
  --muted: oklch(0.31 0.03 289.6);
  --muted-foreground: oklch(0.76 0.02 286.09);
  --accent: oklch(0.4 0.062 326.54);
  --accent-foreground: oklch(0.96 0.015 286.02);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 14%);
  --input: oklch(1 0 0 / 20%);
  --ring: oklch(0.74 0.13 301.74);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}
